node_modules
**/node_modules
**/dist
**/build
**/coverage
**/logs
uploads
packages/uploads
packages/api/uploads
assets/generated_documents
.env
**/.env
**/.env.*
.git
.github
docs
specs
**/__tests__
**/tests
*.md
**/*.md
backups-serveur
